<h3>Cars List</h3>

<input type="text" ng-model="search" ng-click="alert($event)" placeholder="Search">

<p>{{ cars.length }} records</p>

<table style="width: 500px">
	<thead>
		<tr>
			<th ng-click="orderByField('brand')" style="cursor:pointer">Brand</th>
			<th ng-click="orderByField('model')" style="cursor:pointer">Model</th>
			<th ng-click="orderByField('year')" style="cursor:pointer">Year</th>
			<th ng-click="orderByField('price')" style="cursor:pointer"Price</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<!-- | orderBy:'year' -->
		<tr ng-repeat="car in cars | filter:{$:search} | orderBy:orderField:orderReverse">
			<td>{{ car.brand | filterSearch }}</td>
			<td>{{ car.model }}</td>
			<td>{{ car.year }}</td>
			<td>{{ car.price | currency: '$' :0 }}</td>
			<td>
				<a href="#/cars/{{ $index }}" title="Details">Details</a>
			</td>
		</tr>
	</tbody>
</table>